/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/public/build
/public/js
/public/css
composer.phar
npm-debug.log
yarn-error.log
_ide_helper.php
storage/database_testing.sqlite
public/images/vendor
public/fonts
public/vendor
