
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.nav-user .user img {
  border-radius: 0px;
}

body {
  margin: 0 81px 0 81px;
}

.pageTitle {
  float: left;
  padding-left: 30px;
}

.page-header {
  background: linear-gradient(to right, #4457bf, #2d3a81); /* Standard syntax */
}

.header-tabs {
  background: linear-gradient(to right, #4457bf, #2d3a81); /* Standard syntax */
}

.resultsTitle {
  font-style: italic;
  color: $brand-primary;
  padding-left: 15px;
}

.float-left {
  float: left;
}

.userDetail i {
  font-size: medium;
  margin-left: 5px;
}

.green {
  color: $brand-success;
}

.red {
  color: $brand-danger;
}

.float-right {
  float: right;
}

.modal .btn-danger {
  color: $body-bg;
}

.modal .btn-success {
  color: $body-bg;
}

.panel .panel-heading {
  padding: 10px;
  border-color: $secondary-color;
}

.layer-container .menu-layer.active {
  background: $brand-dark;
}

.overlay .starting-point span {
  background-color: $brand-primary;
}

.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
  color: $text-color;
}

.nav-menu .hamburger .patty {
  background: $text-color;
}

.overlay .logo {
  color: $text-color;
}

.form-control {
  box-shadow: none;
}

.inputer.floating-label .form-control:focus ~ label {
  color: $brand-primary;
}



.inputer.floating-label .form-control:focus ~ label, .inputer.floating-label .form-control.valid ~ label {
  top: -25px;
  font-size: 14px;
}

.inputer .input-wrapper:after {
  background: $brand-primary;
}

.panel:before {
  background: $secondary-color;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $secondary-color;
}

.bg-login .panel-login .panel-heading {
  max-height: 200px;
}

.chosen-choices {
  border-radius: 3px;
}

.chosen-container-active .chosen-choices {
  border-color: $brand-primary;
}

.centeredVertically {
  margin-left: auto;
  margin-right: auto ;
  float: none;
}

.bg-login .login-screen {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 700px;
  height: 490px;
}

.navbar {
  border-top: 0px;
}

.mainLogo {
  width: 100px;
  margin: 30px auto;
}

.mainLogo img {
  width: 100%;
}

.content .alert {
  float: right;
  min-width: 500px;
  right: 100px;
  position: absolute;
  width: auto;
  z-index: 1;
}

.navbar{
  margin-bottom: 0px;
}

.noInputStyles .form-control:focus {
  border: none;
  box-shadow: none;
}

.breadcrumb {
  //float: left;
  max-width: 35%;
}

.noFloatAlert {
  float: none !important;
  position: initial !important;
}

.height100x100 {
  height: 100%;
}

.width-percent-80 {
  width: 80% !important;
}


.width-percent-60 {
  width: 60% !important;
}


.accordion .panel-heading.active a:after {
  content: '\f123';
}

.accordion .panel-heading a:after {
  content: '\f124';
}

.centeredVertically {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.alert-dismissable {
  max-width: 800px;
}

.padding-30 {
  padding: 30px !important;
}

.has-error .form-control {
  border: none;
}

.noStyleLink {
  cursor: pointer;
}

.margin-top-60 {
  margin-top: 60px;
}

.noStyleLink:hover {
  cursor: pointer;
  text-decoration: none;
}

.card .clickable-button .btn-floating {
  font-size: 24px;
  border-radius: 50%;
}

.layered-content .overflow-content {
  height:100%;
}

.bg-orange {
  background: $secondary-color;
}
.bg-orange a {
  color: $text-color;
}
.bg-green .header-tabs {
  background: $brand-primary;
}

.bg-orange a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.bg-orange .v-text {
  color: $text-color;
}

.modal.in .modal-dialog {
  transform: translate3d(-50%, -49.9%, 0);
}

.stickyAlert {
  float: none !important;
  position: relative !important;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-top-100 {
  margin-top: 100px;
}

.jobPairsForm {
  h5 {
    color: $form-placeholder-color;
  }

  .form-control {
    color: $text-color;
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: $form-placeholder-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $form-placeholder-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $form-placeholder-color;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: $form-placeholder-color;
    opacity: 1;
  }
  .formRow {
    margin-bottom: 20px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .formElementName {
    margin-top: 5px;
    color: $form-placeholder-color;
  }
  .formElementName.focused {
    color: $secondary-color;
  }
  .chosen-container-multi .chosen-choices li.search-field {
    width: 70%;
  }
  .form-control {
    padding-left: 0px;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
}

.nav-tabs > li > a {
  background-color: $body-bg;
}
.profileCard {
  .card {
    min-height: 200px;
    height: 250px;
    overflow-y: auto;
  }
  .nav-tabs {
    background-color: $navbar-default-bg;
  }
  .nav-tabs > li.active a:after, .nav-tabs > li.active a:hover:after, .nav-tabs > li.active a:active:after, .nav-tabs > li.active a:focus:after {
    border-bottom: 2px solid $secondary-color;
  }
  .profileDetailsList li{
    margin-top: 5px;
  }
  .linkedInIcon {
    font-size: 20px;
  }
  .accordion .panel{
    box-shadow: none;
    .panel-heading {
      padding: 0;
    }
    .panel-title {
      font-size: 14px;
      padding-top: 5px;
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .panel:before{
    height:1px;
  }

}

.companyCard {
  .card {
    height: 200px;
    overflow-y: auto;
  }
}

.jobPairsForm {
  .error {
    color: $brand-danger;
  }
}
