
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

.background-transparent {
  background-color: transparent;
}

.btn-primary
{
  background-color: $brand-dark;
  border-color: $brand-dark;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.accordion .panel-heading .noPanelHeadingStyleLink:after {
  content: none;
}

.bg-color-light-grey {
  background-color: #eeeeee;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.accordion .panel-heading.active .noPanelHeadingStyleLink:after {
  content: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .singleMentorItem {
    height: 150px !important;
  }
}

.font-size-medium {
  font-size: medium;
}

.font-size-smaller {
  font-size: smaller;
}

.font-size-small {
  font-size: small;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.loading-bar:before {
  background: $brand-primary;
}

.display-none {
  display: none;
}

.position-initial {
  position: initial !important;
}

.nav-user .user img {
  border-radius: 0px;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.btn {
  font-size:$form-control-font-size;

}

.content .alert {
  z-index: 100000;
}

.page-header {
  background: linear-gradient(to right, #3b4042,#737c80 );
  h1 { margin-top:3px;}
}

.header-tabs {
  background: linear-gradient(to right, #3b4042, #737c80);
}

.resultsTitle {
  font-style: italic;
  color: $text-color;
  padding-left: 15px;
  font-size: large;
}
.float-left {
  float: left;
}

.userDetail i {
  font-size: medium;
  margin-left: 5px;
}

.green {
  color: $brand-success !important;
}

.red {
  color: $brand-danger !important;
}

.float-right {
  float: right;
}

.modal .btn-danger {
  color: $light-white;
}

.modal .btn-success {
  color: $light-white;
}

.layer-container .menu-layer.active {
  background: $body-bg;
}

.overlay .starting-point span {
  background-color: $brand-primary;
}

.menu-layer li a {
  color: $text-color;
}

.menu-layer li.has-child:before {
  color: $text-color;
}

.layer-container .menu-layer li .child-menu li a {
  color: $form-placeholder-color;
}
.layer-container .menu-layer li.open:before, .layer-container .menu-layer li:hover:before {
  color: $form-placeholder-color;
}

.layer-container .menu-layer li.open:before, .layer-container .menu-layer li:hover:before {
  color: $text-color;
}

.layer-container .menu-layer li .child-menu li.open {
  background: rgba(252, 193, 87, 0.6);
}

.layer-container .menu-layer li .child-menu li:hover .hover-bg {
  background: rgba(252, 193, 87, 0.6);
}

.menu-layer li.open {
  color: $brand-primary;
}

.menu-layer li .hover-bg {
  background: rgba(252, 193, 87, 0.6);
}

.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
  color: $text-color;
}


.nav-menu .hamburger .patty {
  background: $text-color;
}

.overlay .logo {
  color: $text-color;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: $secondary-color;
}

/* <editor-fold descr="form controls"> */
.form-control {
  box-shadow: none;
}
.form-control.error{
  margin-bottom:0;
}



.inputer.floating-label .form-control:focus ~ label {
  color: $brand-primary;
}

.inputer.floating-label .form-control ~ label {
  text-transform: uppercase;
  font-size: $form-placeholder-font-size;
}

.inputer.floating-label .form-control:focus ~ label,
.inputer.floating-label .form-control.error ~ label,
.inputer.floating-label .form-control.valid ~ label {
  top: -12px;
  font-size: $form-placeholder-font-size;
}

.inputer .input-wrapper:after {
  background: $brand-primary;
}

.chosen-choices {
  border-radius: 3px;
}

.chosen-container
{
  font-size:$form-control-font-size;
}
.chosen-container-active .chosen-choices {
  border-color: $brand-primary;
}
.chosen-container-active.chosen-with-drop .chosen-single
{
 background-image:none;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]
{
  padding:0;
  height:32px;
  color:$form-placeholder-color;
  font-size:$form-placeholder-font-size;
}

.chosen-container .chosen-default span
{
  color:$form-placeholder-color;
  font-size:$form-placeholder-font-size;
}
.chosen-container-multi .chosen-choices {
  border-radius: 0px;
  border: 2px #f0f0f0;
}
.chosen-container-multi .chosen-choices li.search-choice
{
  margin-top:0;
  margin-left:0;
  margin-bottom:0;
  margin-right:5px;
  background-color:rgba(236, 236, 236, 0.9);
}

.noInputStyles .form-control:focus {
  border: none;
  box-shadow: none;
}
.noInputStyles .input-wrapper:active {
  border: none;
  box-shadow: none;
}
.noInputStyles .input-wrapper:focus {
  border: none;
  box-shadow: none;
}
.noInputStyles .inputer:focus {
  border: none;
  box-shadow: none;
}
.noInputStyles .inputer:active {
  border: none;
  box-shadow: none;
}
.noInputStyles input {
  border: none;
}

/* </editor-fold> */

.navbar {
  border-top: 0px;
}

.content .alert {
  float: right;
  min-width: 500px;
  right: 100px;
  position: absolute;
  width: auto;
  z-index: 1;
}

.navbar{
  margin-bottom: 0px;
}


.center-outer {
  display: table;
  height:100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  height:100%;
}

.centered {
  display: inline-block;
}

.select2-container--default .select2-selection__placeholder {
  color: #777777;
  font-size: 12px;
}

.select2-container--default .select2-results__option {
  font-size: 15px;
}

.select2-container--default .select2-selection--single {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: initial;
  border-bottom: 2px solid #f0f0f0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  //color: rgba(0, 0, 0, 0.6);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5677fc;
  color: white;
}

@media only screen and (max-width : 992px) {
  .center-outer {
    display: initial;
    height: initial;
  }

  .center-inner {
    display: initial;
    vertical-align: initial;
    height: initial;
  }

  .centered {
    display: initial;
  }
}


.breadcrumb {
  //float: left;
  max-width: 35%;
}

.noFloatAlert {
  float: none !important;
  position: initial !important;
}

.height100x100 {
  height: 100%;
}

.width-percent-80 {
  width: 80% !important;
}


.width-percent-60 {
  width: 60% !important;
}

.singleMentorItem {
  height: 100px;

  .layered-content {
    width: 20%;
    margin-left: 80%;
  }

  .layered-content.active .clickable-close-button {
    top: 7px;
  }


}

.companyMentorsInfo {
  margin-bottom: 10px;
  font-size: medium;
}

.available {
  color: $brand-success !important;
}
.not_available_for_mentorship {
  color: $brand-danger !important;
}
.matched {
  color: $brand-warning !important;
}
.black_listed {
  color: $brand-danger !important;
}

.background-available {
  background-color: $brand-success !important;
  border-color: $brand-success !important;
}
.background-not_available_for_mentorship {
  background-color: $brand-danger !important;
  border-color: $brand-danger !important;
}
.background-matched {
  background-color: $brand-warning !important;
  border-color: $brand-warning !important;
}
.background-black_listed {
  background-color: $brand-danger !important;
  border-color: $brand-danger !important;
}

.layered-content.active .clickable-close-button {
  background-color: $secondary-color !important;
}

.accordion .panel-heading.active a:after {
  content: '\f123';
}

.accordion .panel-heading a:after {
  content: '\f124';
}

.centeredVertically {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.alert-dismissable {
  max-width: 800px;
  position: absolute;
  z-index: 1000000;
  top: 50px;
  right: 50px;
}


.padding-30 {
  padding: 30px !important;
}

.has-error .form-control {
  border: none;
}

.noStyleLink {
  cursor: pointer;
}

.margin-top-60 {
  margin-top: 60px;
}

.noStyleLink:hover {
  cursor: pointer;
  text-decoration: none;
}

.card .clickable-button .btn-floating {
  font-size: 24px;
  border-radius: 50%;
}

.layered-content .overflow-content {
  height:100%;
}

.bg-orange {
  background: $secondary-color;
}
.bg-orange a {
  color: $text-color;
}
.bg-green .header-tabs {
  background: $brand-primary;
}

.bg-orange a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.bg-orange .v-text {
  color: $text-color;
}

.modal.in .modal-dialog {
  transform: translate3d(-50%, -49.9%, 0);
}

.stickyAlert {
  float: none !important;
  position: relative !important;
}

.margin-left-100 {
  margin-left: 100px;
}

.filtersContainer {
  .row {
    margin-bottom: 10px;
  }
  .filterName {
    margin-top: 10px;
  }
  .inputer {
    margin-top: 5px;
  }
  .chosen-container {
    margin-top: 12px;
  }
  .chosen-container .chosen-default span, .chosen-container-single .chosen-single {
    font-size: 18px;
  }
  .icheckbox {
    margin-top: 10px;
  }
}

.margin-top-100 {
  margin-top: 100px;
}
.chosen-container-single .chosen-single div
{
  top:0;
}
.chosen-container-single .chosen-single
{
  border-radius:0;
  border-top:0;
  border-left:0;
  border-right:0;
  height:30px;
  line-height:30px;
  font-size:$form-control-font-size;
  padding-left:0;
  border-bottom:2px solid #f0f0f0;

}
.chosen-container-single .chosen-single span
{
  margin-top:-3px;
}

.jobPairsForm {
  h5 {
    color: $form-placeholder-color;
  }

  .inputer.floating-label {
    margin-top: 20px;
  }

  .selecterTitle {
    text-transform: uppercase;
    font-size: $form-placeholder-font-size;
    margin-top:5px;
    color: $form-placeholder-color;
  }

  .selecterTitle.form-full-row{
    margin-bottom: 5px;
    margin-top: 10px;
  }


  .error {
    color: $brand-danger;
  }

  .btn {
    font-size: medium;
  }

  .form-control {
    color: $text-color;
    font-size:$form-control-font-size;
  }



  textarea::-webkit-input-placeholder { /* Chrome */
    font-size: $form-placeholder-font-size;
    color: $form-placeholder-color;
  }
  textarea:-ms-input-placeholder { /* IE 10+ */
    font-size: $form-placeholder-font-size;
    color: $form-placeholder-color;
  }
  textarea::-moz-placeholder { /* Firefox 19+ */
    font-size: $form-placeholder-font-size;
    color: $form-placeholder-color;
    opacity: 1;
  }
  textarea:-moz-placeholder { /* Firefox 4 - 18 */
    font-size: $form-placeholder-font-size;
    color: $form-placeholder-color;
    opacity: 1;
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: $form-placeholder-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $form-placeholder-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $form-placeholder-color;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: $form-placeholder-color;
    opacity: 1;
  }

  .formElementName {
    margin-top: 5px;
    color: $form-placeholder-color;
  }
  .formElementName.focused {
    color: $secondary-color;
  }
  .chosen-container-multi .chosen-choices li.search-field {
    width: 70%;
  }
  .form-control {
    padding-left: 0px;
  }
}

.profileCard {
  .card {
    min-height: 200px;
    height: 250px;
    overflow-y: auto;
  }
  .nav-tabs {
    background-color: $navbar-default-bg;
  }
  .nav-tabs > li.active a:after, .nav-tabs > li.active a:hover:after, .nav-tabs > li.active a:active:after, .nav-tabs > li.active a:focus:after {
    border-bottom: 2px solid $secondary-color;
  }
  .profileDetailsList li{
    margin-top: 5px;
  }
  .linkedInIcon {
    font-size: 20px;
  }
  .accordion .panel{
    box-shadow: none;
    .panel-heading {
      padding: 0;
    }
    .panel-title {
      font-size: 14px;
      padding-top: 5px;
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .panel:before{
    height:1px;
  }

}

.floating-close {

  height: 35px;
  width: 35px;
  background-color: $brand-primary;
  .fa-times {
    font-size: large;
  }
}

.companyCard {
  .card {
    height: 300px;
    overflow-y: auto;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
}

.nav-tabs > li > a {
  background-color: $light-white;
}

.searchBtn {
  width: 130px;
  float: right;
  font-size: medium;
}

#errorMsg {
  width: 100%;
}

.margin-top-0 {
  margin-top: 0;
}

.full-content {
  margin-right: -40px;
  padding: 50px 0;
}

.page-header .breadcrumb {
  float: right;
}

/* create user form - select icon */
#userIconSelectionContainer {
  label {
    display: inline-block;
    margin: 5px;
    transition: filter 1s;
  }
  input {
    display: none;
  }
  input:checked label {
    filter: grayscale(0%);
  }
}

.greyscale {
  filter: grayscale(100%);
}

.card-user .card-footer .roles {
  font-size: smaller;
}

/* change mentor / mentee status modal */
#editMentorStatusModal, #editMenteeStatusModal {
  .btn-primary {
    color: white;
  }
  .btn-primary:hover, .btn-primary:focus {
    color: #FBAE25;
  }
  .modal-body {
    min-height: 300px;
  }
}
/* end of change mentor status modal */

/* global search */
.search-layer {
  .search {
    padding-top: 30px;
  }

  .loading-bar-wrapper {
    margin: 10px 0;
    height: 3px;
  }

  .loading-bar {
    margin-top: 0;
  }
}

.noSessionsMessage {
  font-style: italic;
}

.nav-tabs > li {
  cursor: pointer;
}

/* on current session we don't need to show the number of found sessions (it would be just one always) */
#current_session .resultsTitle {
  display: none;
}
