
// Variables
@import "variables";

.panel-body {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
  border-radius:5px;
}

.panel-body h2
{
  border-top-left-radius:5px;
  border-top-right-radius:5px;

}
.panel-body .form-group{
  margin-left:0;
  margin-right:0;
}
.panel-body .form-control
{
  padding:0;
}

.bg-login {
  .panel-login {
    .panel-body {
      padding: 0px 40px 20px 40px;
    }
    .panel-heading {
      max-height: 200px;
    }
  }
  .login-screen {
    background: transparent;
    box-shadow: none;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 490px;

  }
  .bg-blur::before {
    background: url("/assets/img/contract_sign.jpg") fixed no-repeat;
    background-size: cover;
  }
}

.loginForm .form-control, .forgotPasswordForm .form-control {
  font-size:17px;
}


.loginForm, .forgotPasswordForm {
  ::-webkit-input-placeholder { /* Chrome */
    color: $form-placeholder-color-light;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $form-placeholder-color-light;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $form-placeholder-color-light;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: $form-placeholder-color-light;
    opacity: 1;
  }
  .form-control {
    font-size: 16px;
  }
  input {
    color: white;
  }
}

body {
  margin: 0;
}