.bg-login .panel-login .panel-body {
  padding: 0px 40px 20px 40px;
}
#pane-login {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
  border-radius:5px;
}


#pane-login .form-group{
  margin-left:0;
  margin-right:0;
}
#pane-login .form-control
{
  padding:0;
}
.bg-login .login-screen {
  background: transparent;
  box-shadow: none;
}

.bg-login .panel-login .panel-heading {
  max-height: 200px;
}

.bg-login .login-screen {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 490px;

}