// Variables
@import "variables";



.singleItem {
  //.userImageContainer {
  //  width:64px;
  //}
  //
  //height: 120px;
  //
  //.available:after {
  //  background: $brand-success;
  //  opacity:0.5;
  //}
  //
  //.not_available_for_mentorship:after {
  //  background: $brand-danger;
  //  opacity:0.5;
  //}
  //
  //.black_listed:after {
  //  background: $brand-danger;
  //  opacity:0.5;
  //}
  //
  //.userAdminActionsBtn {
  //  right: 8px !important;
  //  bottom: 40px;
  //  height: initial;
  //  .btn-floating {
  //    font-size: 20px;
  //    border-radius: 50%;
  //  }
  //  .layer {
  //    width:35px;
  //    height:35px;
  //  }
  //  .btn {
  //    width:35px;
  //    height:35px;
  //    padding: 0;
  //  }
  //  i {
  //    font-size: 22px;
  //    margin-top: 6px;
  //  }
  //}
  //.layered-content.active .overflow-content {
  //  margin-top: 10px;
  //}

  margin-bottom: 20px;


  .secondItem {
    right:65px !important;
  }

  .editIcon {
    color: $brand-primary;
  }

  .deleteIcon {
    color: $brand-danger;
  }
}

.list-material.has-hidden > li:hover a.visible {
  -webkit-transform: translate3d(-125px, 0, 0);
  transform: translate3d(-125px, 0, 0);
}

.list-material > li.has-action-left .list-content {
  margin-left: 65px;
}

.list-material > li .list-action-left img {
  width: 50px;
  height: 50px;
}

.singleItem {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.singleItem:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}