// Variables
@import "variables";

#mentorshipSessionsList {
  .list-material {
    li {
      padding-top: 10px;
    }
    li a.visible {
      height: 100%;
      margin: -10px -10px 0 -10px;
      padding: 10px;
    }
  }
}

#matchMentorModal, #matchMentorModalEdit {
  .modal-dialog {
    width: 60%;
    text-align: center;
    max-height: 98%;
    min-height: 500px;
  }
  .accountManagerSelector, .sessionStatusSelector, .sessionStatusChangeComment, .generalCommentWrapper {
    margin-top: 15px;
    .selectorTitle {
      font-size: medium;
      margin-left: 15%;
      margin-top: -5px;
    }
    .inputer {
      margin-bottom: 0;
    }
  }
  .accountManagerSelector {
    margin-top: 50px;
  }
  .modal-body {
    overflow: visible;
    max-height: 100%;
  }
  .selectorTitle {
    text-align: right;
  }
  textarea {
    margin-top: -5px;
  }
}

.matchMentorItem {
  .matchingIcon {
    color: $brand-success;
    font-size: 36px;
  }
  .matchingImg {
    width: 100%;
  }

  .mentorshipSessionInfo {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bottomInfo {
    position: absolute;
    bottom: 2px;
  }

  .matchingIconContainer {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
    top: 40%;
  }
}

#mentorshipSessionShowModal {
  .modal-dialog {
    width: 45%;
    max-height: 98%;
    min-height: 600px;
  }
  .modal-body {
    overflow: auto;
    .tab-pane {
      padding-top: 20px;
    }
    .header-tabs, .header-tabs.fixed {
      position: fixed;
      top: 60px;
      width: 100%;
      z-index: 1100;
      height: 61px;
      left: 0;
    }
    #history.tab-pane {
      padding-top: 58px;
      .panel {
        margin: 0;
      }
      .timeline .frame .delete-from-timeline {
        float: left;
      }
      .timeline .frame:nth-child(2n) .delete-from-timeline {
        float: right
      }
      .delete-from-timeline {
        padding-top: 2px;
      }
    }
    .nav-tabs {
      border: none;
    }
  }
}

#mentorshipSessionShowModal, #matchMentorModal, #matchMentorModalEdit {
  .name-anchor {
    color: rgba(0, 0, 0, 0.87);

  }
  .name-anchor:hover, .name-anchor:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
  }
}

.started, .first_meeting, .second_meeting, .third_meeting, .fourth_meeting {
  color: $brand-success !important;
}

.pending, .available_mentee, .available_mentor {
  color: $brand-warning !important;
}

.evaluation_sent, .follow_up_sent, .cancelled_mentee, .cancelled_mentor, .cancelled_acc_man {
  color: $brand-danger !important;
}

@media only screen and (max-width : 992px) {
  .matchMentorItem {
    .mentorView {
      margin-bottom: 30px;
    }

    .matchingIconContainer {
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      top: 20%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #matchMentorModal, #matchMentorModalEdit {
    .modal-dialog {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 710px) {
  #mentorshipSessionShowModal {
    .modal-dialog {
      width: 95%;
    }
  }
}
