// Variables
@import "variables";

#mentorshipSessionsList {
  .list-material {
    li {
      padding-top: 10px;
    }
    li a.visible {
      height: 100%;
      margin: -10px -10px 0 -10px;
      padding: 10px;
    }
  }
}

#matchMentorModal {
  .modal-dialog {
    width: 45%;
    text-align: center;
    max-height: 98%;
    min-height: 500px;
  }
  .accountManagerSelector {
    margin-top: 50px;
    margin-bottom: 170px;
    .selectorTitle {
      font-size: medium;
      margin-left: 15%;
    }
  }
  .sessionStatusSelector {
    margin-top: 50px;
    margin-bottom: 200px;
    .selectorTitle {
      font-size: medium;
      margin-left: 15%;
    }
  }
  .modal-body {
    overflow: visible;
    max-height: 100%;
  }
}

.matchMentorItem {
  .matchingIcon {
    color: $brand-success;
    font-size: 36px;
  }
  .matchingImg {
    width: 100%;
  }

  .mentorshipSessionInfo {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bottomInfo {
    position: absolute;
    bottom: 2px;
  }

  .matchingIconContainer {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
    top: 40%;
  }
}

#mentorshipSessionShowModal {
  .modal-dialog {
    width: 700px;
    max-height: 98%;
    min-height: 500px;
  }
  .modal-body {
    overflow: visible;
    max-height: 100%;
    .tab-pane {
      padding-top: 20px;
    }
    #history.tab-pane {
      padding-top: 58px;
      .panel {
        margin: 0;
      }
    }
    .header-tabs.fixed {
      position: fixed;
      top: 60px;
      width: 100%;
      z-index: 1100;
      height: 61px;
      left: 0;
    }
    .nav-tabs {
      border: none;
    }
  }
}

#mentorshipSessionShowModal, #matchMentorModal {
  .name-anchor {
    color: rgba(0, 0, 0, 0.87);

  }
  .name-anchor:hover, .name-anchor:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
  }
}

.started {
  color: $brand-success !important;
}

.pending, .available_mentee, .available_mentor, .first_meeting, .second_meeting, .third_meeting, .fourth_meeting {
  color: $brand-warning !important;
}

.evaluation_sent, .follow_up_sent, .cancelled {
  color: $brand-danger !important;
}

@media only screen and (max-width : 992px) {
  .matchMentorItem {
    .mentorView {
      margin-bottom: 30px;
    }

    .matchingIconContainer {
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      top: 20%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #matchMentorModal {
    .modal-dialog {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 710px) {
  #mentorshipSessionShowModal {
    .modal-dialog {
      width: 95%;
    }
  }
}
