// date range picker css
.daterangepicker {
    .available {
        color: #2a2a2a !important;
    }
    .disabled:hover {
        cursor: not-allowed;
    }
    td.active, td.active:hover {
        background-color: #fbae25;
    }
    td.disabled {
        text-decoration: none;
    }
}

// ion range slider css
.irs-bar {
    background: none;
    background-color: #FBAE25;
}

.irs-from, .irs-to {
    background-color: #FBAE25;
    cursor: pointer;
}

.irs-from::after, .irs-to::after {
    border-top-color: #FBAE25;
    cursor: pointer;
}
