// Variables
@import "variables";

.profilePage {

  .page-header {
    display: table;
    height: 100%;
    width: 100%;
  }

  .page-header .profile-info {
    display: table-cell;
    vertical-align: middle;
  }

  .page-header .profile-info .profile-photo img, .header .profile-info .profile-photo img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .page-header .profile-info .profile-text, .header .profile-info .profile-text {
    margin-top: -5px;
    margin-left: 100px;
  }

  .page-header {
    background: -webkit-linear-gradient(left, #3b4042, #737c80);
    background: linear-gradient(to right, #3b4042, #737c80);
    height: 220px;
    overflow: hidden;
  }
  .header-tabs {
    background: -webkit-linear-gradient(left, #3b4042, #737c80);
    background: linear-gradient(to right, #3b4042, #737c80);
  }

  a {
    color: $brand-primary;
  }
  a:hover, a:active, a:focus {
    color: $secondary-color;
    text-decoration: none;
  }

  //.page-header {
  //  background: linear-gradient(to right, #4457bf, #2d3a81);
  //}
  //
  //.header-tabs {
  //  background: linear-gradient(to right, #4457bf, #2d3a81);
  //}

  .breadCrumpContainer {
    float: right;
  }
  .breadcrumb {
    max-width: 100%;
  }
  .page-header .breadcrumb a {
    text-transform: none;
  }
  .page-header {
    margin-top: 0;
  }

  .formRow {
    margin-bottom: 20px;
  }

  .formElementName {
    color: $form-placeholder-color;
  }

  .userRole {
    display: initial !important;
  }

  #successMsg {
    width: 100%;
  }
}